nav .headerList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav .headerList li {
  margin: 5px 10px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s;
  border-radius: 10%;
}

nav .headerList li:first-of-type {
  font-size: 20px;
}

nav .headerList li:hover {
  background-color: rgb(242, 242, 242);
}
